/* 公共样式 */
a {
  color: #2F5597;
}
// a标签点击跳转
.link-txt {
  color: #497EB9;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: #214285;
  }
}
.simple-sub-header {
  .el-button {
    // border-radius: 8px;
    // height: 40px;
    &.is-plain {
      width: 120px;
      // background: transparent;
      // color: #ffffff !important;
      // border: 1px solid #ffffff !important;
      // &:focus, &:hover {
      //   background: transparent;
      //   border-color: #4A87CB;
      //   color: #4A87CB;
      // }
    }
  }
}

/* 用户中心详情弹框样式 开始*/
.editRoleForm, .editStatusForm {
  .el-dialog__header {
    padding-top: 44px;
    padding-left: 40px;
    .el-dialog__title {
      font-size: 26px;
      color: #001F3B;
      line-height: 26px;
    }
  }
  .el-dialog__body {
    padding: 30px 40px;
    .el-form {
      .role-label {
        font-size: 14px;
        color: #8D93A1;
        letter-spacing: 0;
        line-height: 21px;
        margin-bottom: 20px;
      }
    }
  }
  .el-dialog__footer {
    text-align: center;
    padding-bottom: 30px;
    .dialog-footer {
      .editRoleBtn {
        width: 300px;
      }
    }
  }
}
/* 用户中心详情弹框样式 结束*/

/* 列表里的各种状态颜色 */
.status-text {
  word-break: break-word;
  .el-icon-question {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .padding {
    color: #F1A22B; //#FF9A00;
  }
  .rejected {
    color: #ED4115;
  }
  .cancelled {
    color: #8D93A1;
  }
  .success {
    color: #52B88F; //#02C576;
  }
  .statusBlue{
    color: #214285;
  }
}
/* 列表里的view 按钮 */
.view-btn {
  border-radius: 2px;
  width: 80px;
  height: 30px;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #2F39E3;
  color: #2F39E3;
  cursor: pointer;
}
/* 列表上tab筛选 */
.category-nav {
    display: flex;
    font-size: 16px;
    li {
      padding: 0 16px;
      color: #5A6171;
      cursor: pointer;
      &:not(:last-child) {
        border-right: 1px solid #DCDFE6;
      }
      &:first-child {
        padding-left: 0;
      }
      &.active {
        color: #497EB9;
        font-weight: bold;
      }
    }
  }

.list-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 1px solid #CED4E1;
  border-radius: 50%;
  background: #CED4E1;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  // 列表里的感叹号图标
  &.icon-exmark{
    transform: rotate(180deg);
    margin-left: 10px;
  }
  // 列表里的感叹号图标
  &.icon-question {
    transform: rotate(0deg);
    margin-left: 10px;
  }
}

.searchBar {
  margin-bottom: 30px;
}